<%= turbo_frame_tag "outer" do %>
  <p>New view outer turbo frame</p>
  <%= link_to 'Replace with index view contents', turbo_frames_nested_frames_path %>
  <%= turbo_frame_tag "inner" do %>
    <p>New view inner turbo frame</p>
    <%= link_to 'Render by id inner', turbo_frames_nested_frame_path(id: 'some_id') %>
  <% end %>
<% end %>
<br>

<!-- Render from the outside -->
<%= turbo_frame_tag "frame_1" do %>
  <div class="ratio ratio-1x1">
    <h1>1</h1>
  </div>
  <%= link_to 'Frame 1 Child', 'turbo_frames/nested_frames/show', data: {turbo_frame: "frame_1_child"} %>
  <%= turbo_frame_tag "frame_1_child" do %><%= tag.div class: "ratio ratio-1x1" %><% end %>
<% end %>

<%= turbo_frame_tag "frame_2" do %>
  <div class="ratio ratio-1x1">
    <h1>2</h1>
  </div>
  <%= link_to 'Frame 2 Child', 'turbo_frames/nested_frames/show', data: {turbo_frame: "frame_2_child"} %>
  <%= turbo_frame_tag "frame_2_child" do %><%= tag.div class: "ratio ratio-1x1" %><% end %>
<% end %>

<%= turbo_frame_tag "frame_3" do %>
  <div class="ratio ratio-1x1">
    <h1>3</h1>
  </div>
  <%= link_to 'Frame 3 Child', 'turbo_frames/nested_frames/show', data: {turbo_frame: "frame_3_child"} %>
  <%= turbo_frame_tag "frame_3_child" do %><%= tag.div class: "ratio ratio-1x1" %><% end %>
<% end %>

<%= turbo_frame_tag "frame_4" do %>
  <div class="ratio ratio-1x1">
    <h1>4</h1>
  </div>
  <%= link_to 'Frame 4 Child', 'turbo_frames/nested_frames/show', data: {turbo_frame: "frame_4_child"} %>
  <%= turbo_frame_tag "frame_4_child" do %><%= tag.div class: "ratio ratio-1x1" %><% end %>
<% end %>
